body {
    background: #e7fff4;
}

html,
body,
canvas {
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
    overflow: hidden;
}

#view,
#ui {
    position: absolute;
    width: 100%;
    height: 100%;
    /*z-index: 1;*/
    /*width: 100%;
    height: 100%;

    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    */
}

#view {
    z-index: 1;
}

#ui {
    z-index: 2;
}


.fadein {
    animation: fadein 2s;
}

.fadeout {
    animation: fadeout 2s;
}

#ui {
    background-color: rgba(0, 0, 0, 0.8);
}

#ui.hide {
    display: none;
}

body,
button,
input {
    font-family: 'PT Sans Caption', sans-serif;
}

.uibox {
    /*background: #422;*/
    /*width: 600px;*/
    max-width: 600px;
    margin: 14px auto 0 auto;
    padding: 8px 10px 30px 10px;
}

.uibox .logo {
    text-align: center;
    height: 100px;
    position: relative;
    overflow: hidden;
}

.logo img {
    width: 350px;
    /*
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
*/
}

/*
.resultbox {
    position: relative;
}
*/

.resultsimg {
    width: 50%;
    margin: auto;
}

.resultsimg img {
    width: 100%;
}

.results {
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-shadow: 0px 0px 2px #000000;
    white-space: nowrap;
    color: #fff;
    /*position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
*/
}

.results .left {
    text-align: right;
    margin-right: 10px;
}

.newScore {
    color: #8fa;
}

.nav {
    margin: 10px 10%;
    display: flex;
    justify-content: center;
}

.uibox form.play {
    margin: 0 10%;
    display: flex;
    justify-content: center;
}

.uibox .tips {
    height: 50px;
    display: flex;
}

.uibox .tip {
    color: white;
    text-align: center;
    font-size: 18px;
    animation: fadein 2s;
    padding: 10px 10%;
    align-self: flex-end;
    width: 100%;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#nick {
    background: #ededd1;
    border: 0;
    border-bottom: 6px solid #a1a18d;
    padding: 5px;
    margin: 5px;
    font-size: 25px;
    text-indent: 10px;
    color: #666;
    outline: none;
    width: 100%;
    flex: 1 1 auto;
}

#nick::placeholder {
    color: #a1a18d;
    opacity: 1; /* Firefox */
}

#play {
    flex: 0 0 130px;
}

#again,
#menu {
    flex: 1 1 auto;
}

button {
    border: none;
    border-bottom: 6px solid;
    font-size: 35px;
    letter-spacing: 1px;
    padding: 0px 15px;
    margin: 5px;
    cursor: pointer;
}

button:active {
    border-bottom: none;
    border-top: 6px solid;
}

button:focus {
    outline: none;
}

button.yellow {
    background: #eaec4b;
    border-color: #a1a130;
    color: #888a34;
}

button.green {
    background: #7fed4c;
    border-color: #56a130;
    color: #56a130;
}

button.disabled {
    background: #ebebeb;
    border-bottom: 6px solid #9c9c9c;
    color: #9c9c9c;
    cursor: default;
}

button.yellow:hover,
button.yellow:focus {
    background: #fafc5b;
}

button.green:hover,
button.green:focus {
    background: #8efc5b;
}

button.disabled:hover,
button.disabled:focus {
    background: #ebebeb;
}

button.disabled:active {
    border-top: none;
    border-bottom: 6px solid;
}

.uibox p.notsupported {
    color: rgb(177, 55, 55);
    font-size: 18px;
    text-align: center;
    padding: 0 10%;
}

@media screen and (max-width: 500px) {
    .uibox form.play {
        margin: 0;
        flex-wrap: wrap;
    }

    .nav {
        margin: 10px 0;
        flex-wrap: wrap;
    }

    button {
        font-size: 25px;
    }

    .resultsimg {
        width: 75%;
    }
}

#about {
    position: absolute;
    display: none;
    top: 60px;
    background-color: white;
    padding: 32px;
    border-radius: 10px;
    width: 60%;
    left: 20%;
    z-index: 4;
}

.hide {
    display: none;
}
.show {
    display: block;
}

#aquapark-io_300x600_center {
    position: absolute;
    text-align: center;
    top: 310px;
    width: 100%;
    z-index: 3;
}

#bottom {
    position: absolute;
    text-align: center;
    display: none;
    bottom: 0px;
    right: 0px;
    color: #202020;
    z-index: 2;
    background-color: white;
    padding: 4px;
    border-top-left-radius: 8px;
}

@media (min-height: 800px) {
    #bottom {
        display: block;
    }
}

#bottom a,
a:visited {
    color: #202020;
    text-decoration: none;
}

#overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    z-index: 9;
    display: none;
}

#lng {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 4;
    background: #fff;
    list-style-type: none;
    margin: 0;
    border: 0;
    padding: 4px 6px 4px 0;
    border-top-right-radius: 8px;
    display: inline;
}

#lng li {
    display: inline;
    padding: 4px 4px;
    background: #fff;
    cursor: pointer;
}

#lng li.active {
    background: #88f;
}

#logo {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    display: none;
}

figure{
    text-align: center;
    position: relative;
    overflow: hidden;
}



#ads {
  position: absolute; top: 55%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
  padding: 8px; background-color: #fff; border-radius: 5px; z-index: 10;  
}

#gdads {
  position: absolute; top: 55%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
  padding: 8px; border-radius: 5px; z-index: 10;  
  width: 1000px; height: 260px;
}

#rightbanner { position: absolute; top: 0; bottom: 0; right: 0; width: 220px; height: 400px; z-index: 3; padding-top: 12px; padding-right: 12px; text-align: right; display: none; }
#rightbanner img { border-radius: 6px; }

#discord {	
	position: absolute;
	left: 8px;
	top: 8px;
	display: none;
	z-index: 3;
}

#discord a img {
	border-radius: 6px;
}